$font-family: "Lato", "open-sans", sans-serif;
$font-family-alt: $font-family;


// ---------------------------------------------- brand colors

$color-primary-lightest: #F4F5F6 !default;
$color-primary-lighter: #E9EBED !default;
$color-primary-light: #F4F5F6 !default;
$color-primary-base: #D1D5DB !default;
$color-primary-dark: #636D7E !default;
$color-primary-darker: #5C6670 !default;
$color-primary-darkest: #49525A !default;

$color-secondary-lightest: #65707B !default;
$color-secondary-lighter: #5C6670 !default;
$color-secondary-light: #535C65 !default;
$color-secondary-base: #40474F !default;
$color-secondary-dark: #1C1E22 !default;
$color-secondary-darker: #121416 !default;
$color-secondary-darkest: #090A0B !default;


// ---------------------------------------------- neutral colors

$color-neutral-lightest: #ffffff !default;
$color-neutral-lighter: #F6F6F6 !default;
$color-neutral-light: #D2D2CA !default;
$color-neutral-base: #919D9E !default;
$color-neutral-dark: #6C787A !default;
$color-neutral-darker: #3B4344 !default;
$color-neutral-darkest: #3B4344 !default;

$color-neutral-black: #000000 !default;
$color-neutral-white: #FFFFFF !default;


// ------------------------ breakpoints
${{
configuration = application.configuration("nabu.web.page.core.types.configuration")

phone = first(configuration/devices[name = "phone"]/width)
tablet = first(configuration/devices[name = "tablet"]/width)
desktop = first(configuration/devices[name = "desktop"]/width)

xsmall = first(configuration/devices[name = "xsmall"]/width)
small = first(configuration/devices[name = "small"]/width)
medium = first(configuration/devices[name = "medium"]/width)
large = first(configuration/devices[name = "large"]/width)
xlarge = first(configuration/devices[name = "xlarge"]/width)

# set default values for include-media
if (phone == null)
	phone = "512"
if (tablet == null)
	tablet = "960"
if (desktop == null)
	desktop = "1280"
	
# set defaults for plato
#320px
if (xsmall == null)
	xsmall = "320"
#512px
if (small == null)
	small = phone
#960px,
if (medium == null)
	medium = tablet
#1280px
if (large == null)
	large = desktop
#1440
if (xlarge == null)
	xlarge = "1440"

echo("$breakpoints: (
		'phone': " + phone + "px,
		'tablet': " + tablet + "px,
		'desktop': " + desktop + "px,
		'extra-small': " + xsmall + "px,
		'small': " + small + "px,
		'medium': " + medium + "px,
		'large': " + large + "px,
		'extra-large': " + xlarge + "px
	);")
}}



