.page-components-overview {
	.page-component, .page-structure {
		display: flex;
		width: 100%;
		padding: 1rem;
		border: solid 1px #ccc;
		background-color: white;
		.about {
			padding: 0 1rem;
		}
		img {
			width: 75px;
			max-height: 50px;
			min-width: 75px;
		}
		p {
			font-size: 0.8rem;
			color: #aaa;
			margin: 0;
		}
		+.page-component, +.page-structure {
			margin-top: 0.3rem;
		}
	}
	.tab {
		display: inline-block;
		background-color: #eaeaea;
		border: solid 1px #ccc;
		border-style: solid solid none solid;
		padding: 0.7rem;
		cursor: pointer;
		font-size: 0.8rem;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		margin-left: 0.3rem;
		&.selected {
			background-color: #ccc;
		}
	}
}