.page-components-overview {
	.page-component {
		display: flex;
		width: 100%;
		padding: 1rem;
		border: solid 1px #ccc;
		background-color: white;
		.about {
			padding: 0 1rem;
		}
		img {
			width: 75px;
			max-height: 50px;
			min-width: 75px;
		}
		p {
			font-size: 0.8rem;
			color: #aaa;
			margin: 0;
		}
		+.page-component {
			margin-top: 0.3rem;
		}
	}
}